.form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .input-error-border {
    border-color: red;
  }
  
  .input-error-text {
    color: red;
  }
  
  .input-error-label {
    color: red;
  }