body {
  font-family: "Inter", sans-serif;
  background-color: #f4f5f7;
  color: #333333;
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pagination {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
}

.pagination .active {
  font-weight: bold;
}
